apiVersion: v1
kind: Pod
metadata:
  name: "{{.VCKName}}"
  namespace: "{{.NS}}"
{{ if eq .VCKOp "add" }}
  ownerReferences:
  - apiVersion: {{.APIVersion}}
    kind: {{.Kind}}
    name: {{.Name}}
    uid: {{.UID}}
    controller: {{.Controller}}
    blockOwnerDeletion: {{.BlockOwnerDeletion}}
{{ end }}
  labels:
{{ range $key, $val := .Labels }}
    "{{ $key }}": "{{ $val }}"
{{ end }}
    "vckname": "{{.Name}}"
    "vcid": "{{.ID}}"
spec:
  affinity:
{{ if eq .VCKOp "delete" }}
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: {{.VCKNodeLabelKey}}
            operator: Exists
{{ end }}
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: vckname
            operator: In
            values:
            - {{.Name}}
          - key: vcid
            operator: In
            values:
            - {{.ID}}
        topologyKey: kubernetes.io/hostname
{{ if eq .VCKOp "add" }}
  {{ if .NodeAffinity }}
    nodeAffinity:
      {{ if .NodeAffinity.RequiredDuringSchedulingIgnoredDuringExecution }}
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        {{ range $nodeSelectorTerm := .NodeAffinity.RequiredDuringSchedulingIgnoredDuringExecution.NodeSelectorTerms }}
        - matchExpressions:
          {{ range $nodeSelectorRequirement := $nodeSelectorTerm.MatchExpressions }}
          - key: {{ $nodeSelectorRequirement.Key }}
            operator: {{ $nodeSelectorRequirement.Operator }}
            values:
            {{ range $value := $nodeSelectorRequirement.Values }}
            - {{ $value }}
            {{ end }}
          {{ end }}
        {{end}}
      {{ end }}
      {{ if .NodeAffinity.PreferredDuringSchedulingIgnoredDuringExecution }}
      preferredDuringSchedulingIgnoredDuringExecution:
        {{ range $preferred := .NodeAffinity.PreferredDuringSchedulingIgnoredDuringExecution }}
        - weight: {{ $preferred.Weight }}
          preference:
            matchExpressions:
            {{ range $nodeSelectorRequirement := $preferred.Preference.MatchExpressions }}
            - key: {{ $nodeSelectorRequirement.Key }}
              operator: {{ $nodeSelectorRequirement.Operator }}
              values:
              {{ range $value := $nodeSelectorRequirement.Values }}
              - {{ $value }}
              {{ end }}
            {{ end }}
        {{ end }}
      {{ end }}
  {{ end }}
{{ if .Tolerations }}
  tolerations:
    {{ range $toleration := .Tolerations }}
    - key: {{ $toleration.Key }}
      value: {{ $toleration.Value }}
      operator: {{ $toleration.Operator }}
      effect: {{ $toleration.Effect }}
    {{ end }}
{{ end }}
{{ end }}
  volumes:
    - name: dataset-root
      hostPath:
        path: {{index .Options "dataPath"}}
{{ if eq .VCKOp "add" }}
  initContainers:
  - image: minio/mc:RELEASE.2018-02-09T23-07-36Z
    imagePullPolicy: "Always"
    command: ["/bin/sh"]
    args: ["-c", "mkdir -p $DATA_PATH"]
    name: vck-s3-init-container
    volumeMounts:
    - mountPath: {{index .Options "dataPath"}}
      name: dataset-root
    env:
    - name: DATA_PATH
      value: {{ index .VCKOptions "path" }}
{{ end  }}
  containers:
  - image: minio/mc:RELEASE.2018-02-09T23-07-36Z
    imagePullPolicy: "Always"
    command: ["/bin/sh"]
{{ if eq .VCKOp "add" }}
    args: ["-c", "{{ index .VCKOptions "copyCommand" }}"]
{{ end  }}
{{ if eq .VCKOp "delete" }}
    args: ["-c", "rm -rf ${DATA_PATH}"]
{{ end  }}
    name: vck-s3-sync-container
    volumeMounts:
    - mountPath: {{index .Options "dataPath"}}
      name: dataset-root
    env:
{{ if eq .VCKOp "add" }}
    - name: AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: {{index .Options "awsCredentialsSecretName"}}
          key: awsAccessKeyID
    - name: AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: {{index .Options "awsCredentialsSecretName"}}
          key: awsSecretAccessKey
    - name: AWS_ENDPOINT_URL
      value: {{index .Options "endpointURL"}}
    - name: S3_URL
      value: {{index .Options "sourceURL"}}
    - name: BUCKET_NAME
      value: {{.BucketName}}
    - name: BUCKET_PATH
      value: {{.BucketPath}}
    - name: RECURSIVE_OPTION
      value: {{.RecursiveOption}}
{{ end  }}
    - name: DATA_PATH
      value: {{ index .VCKOptions "path" }}
  restartPolicy: "Never"
