apiVersion: v1
kind: Pod
metadata:
  name: "{{.VCKName}}"
  namespace: "{{.NS}}"
{{ if eq .VCKOp "add" }}
  ownerReferences:
  - apiVersion: {{.APIVersion}}
    kind: {{.Kind}}
    name: {{.Name}}
    uid: {{.UID}}
    controller: {{.Controller}}
    blockOwnerDeletion: {{.BlockOwnerDeletion}}
{{ end }}
  labels:
{{ range $key, $val := .Labels }}
    "{{ $key }}": "{{ $val }}"
{{ end }}
    "vckname": "{{.Name}}"
    "vcid": "{{.ID}}"
spec:
  affinity:
{{ if eq .VCKOp "delete" }}
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: {{.VCKNodeLabelKey}}
            operator: Exists
{{ end }}
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: vckname
            operator: In
            values:
            - {{.Name}}
          - key: vcid
            operator: In
            values:
            - {{.ID}}
        topologyKey: kubernetes.io/hostname
  volumes:
    - name: dataset-root
      hostPath:
        path: {{index .Options "dataPath"}}
{{ if eq .VCKOp "add" }}
  initContainers:
  - image: minio/mc:RELEASE.2018-02-09T23-07-36Z
    imagePullPolicy: "Always"
    command: ["/bin/sh"]
    args: ["-c", "mkdir -p $DATA_PATH"]
    name: vck-s3-init-container
    volumeMounts:
    - mountPath: {{index .Options "dataPath"}}
      name: dataset-root
    env:
    - name: DATA_PATH
      value: {{ index .VCKOptions "path" }}
{{ end  }}
  containers:
  - image: volumecontroller/pachctl
    imagePullPolicy: "Always"
    command: ["/bin/sh"]
{{ if eq .VCKOp "add" }}
    args: ["-c", "export ADDRESS=${PACHYDERM_SERVICE_ADDRESS}; pachctl version; cd ${DATA_PATH}; pachctl get-file ${REPO} ${BRANCH} ${INPUT_PATH} -o ${OUTPUT_PATH} ${RECURSIVE}"]
{{ end  }}
{{ if eq .VCKOp "delete" }}
    args: ["-c", "rm -rf ${DATA_PATH}"]
{{ end  }}
    name: vck-s3-sync-container
    volumeMounts:
    - mountPath: {{index .Options "dataPath"}}
      name: dataset-root
    env:
{{ if eq .VCKOp "add" }}
    - name: REPO
      value: {{index .Options "repo"}}
    - name: BRANCH
      value: {{index .Options "branch"}}
    - name: INPUT_PATH
      value: {{ index .Options "inputPath" }}
    - name: OUTPUT_PATH
      value: {{ index .Options "outputPath" }}
    - name: RECURSIVE
      value: {{ index .Options "recursive" }}
    - name: DATA_PATH
      value: {{ index .VCKOptions "path" }}
    - name: PACHYDERM_SERVICE_ADDRESS
      value: {{ index .Options "pachydermServiceAddress" }}
{{ end  }}
    - name: DATA_PATH
      value: {{ index .VCKOptions "path" }}
  restartPolicy: "Never"
