apiVersion: v1
kind: Pod
metadata:
  name: "{{.KVCName}}"
  namespace: "{{.NS}}"
  ownerReferences:
  - apiVersion: {{.APIVersion}}
    kind: {{.Kind}}
    name: {{.Name}}
    uid: {{.UID}}
    controller: {{.Controller}}
    blockOwnerDeletion: {{.BlockOwnerDeletion}}
  labels:
{{ range $key, $val := .Labels }}
    "{{ $key }}": "{{ $val }}"
{{ end }}
spec:
  nodeName: "{{.NodeName}}"
  volumes:
    - name: dataset-root
      hostPath:
        path: {{index .Options "dataPath"}}
  containers:
  - image: alpine:3.7
    imagePullPolicy: "Always"
    command: ["/bin/sh"]
    args: ["-c", "mkdir -p $DATA_PATH"]
    name: kvc-s3-sync-container
    volumeMounts:
    - mountPath: {{index .Options "dataPath"}}
      name: dataset-root
    env:
    - name: DATA_PATH
      value: {{ index .KVCOptions "path" }}
  restartPolicy: "Never"
